.navbar {
    padding: 0 2rem;
    background-color: var(--bg-color);
    position: relative;
}
.logo img {
    width: 120px;
    height: auto;
    margin-top: 1.5rem;
}
.header__info ul li{
    padding: 2.3rem 1.2rem 1rem 1.2rem;
    cursor: pointer;
}
.header__info ul li:hover {
    background-color: var(--secondary-bg-color);
} 

/* navbar responsiba */
@media screen and (max-width: 1200px){
    .navbar {
        padding: 0 2rem
    }
    .header__info ul li {
        padding: 0;
        margin: 2rem 0;
        cursor: pointer;
        font-size: x-large;
        --font-color: #fff;
    }
}