<header class="flex w-full fixed top-0 z-1">
    <!--w-full= agarra todo el ancho, fixed= fuera del dom-->
    <nav class="flex justify-content-between w-full navbar">
        <span class="logo cursor-pointer">
            <img src="./assets/logo2.png" alt="Logo">
        </span>
        <input type="checkbox" aria-label="Checkbox para mostrar menu y quitar" class="checkbox xl:hidden">
        <div class="hamburger__lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <div class="header__info flex align-items-center gap-3">
            <ul class="flex flex-column xl:flex-row list-none">
                <li>Añadir nueva pelicular</li>
            </ul>
        </div>
    </nav>
</header>