.navbar {
    padding: 0 2rem;
    background-color: var(--bg-color);
    position: relative;
}
.logo img {
    width: 120px;
    height: auto;
    margin-top: 1.5rem;
}
.header__info ul li{
    padding: 2.3rem 1.2rem 1rem 1.2rem;
    cursor: pointer;
}
.header__info ul li:hover {
    background-color: var(--secondary-bg-color);
} 
/* navbar responsiba */
@media screen and (max-width: 1200px){
  .navbar {
      padding: 0 2rem
  }
  .header__info ul li {
      padding: 0;
      margin: 2rem 0;
      cursor: pointer;
      font-size: x-large;
      --font-color: #fff;
  }
}
/*Cortia left*/
.form__newMovie {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    z-index: 2; 
    background-color: #1e1e1e ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-out 0.5s;
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
    }
   
  }
.text-color{
  color: #fff !important;
}
.input__form{
  padding-left: 2px !important;
}
.surface-overlay {
    background-color: #1e1e1e !important;
}

.card {
  padding: 3.5rem;
}
.form__newMovie img{
  width: 200px; /*fixer img*/
  height: 200px;
  object-fit: cover;
  object-position: center;
}

/*boto close*/
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.9;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  