<div class="project__card">
  <img [src]="movie.image">
  <div class="project__info flex w-full flex-column justify-content-center align-items-center text-center">
    <h2>Pelicular : {{ movie.title }}</h2>
    <button (click)="onShowDetail()">Ver detalle</button>
  </div>
</div>

<!-- cortina de detalles -->
<div class="product-detail" [class.active]="showMovieDetail">
  <div>
    <button (click)="onShowDetail()">Close</button>

    <h1>{{ movie.title }}</h1>
    <img [src]="movie.image">
    <!-- swipper -->
    <p>{{ movie.rating }}</p>
    <p>{{ movie.genre }}</p>
    <p>{{ movie.sysnopsis }}</p>
    <p>{{ movie.date | date:'shortDate'}}</p>
  </div>
</div>