<div class="project__card">
  <img [src]="movie.image" (click)="onShowDetail()">
  <div class="overlay"></div>
  <div class="project__info flex w-full flex-column justify-content-center align-items-center text-center">
    <h2> {{ movie.title }}</h2>
  </div>
</div>

<!-- cortina de detalles -->
<div class="movie__detail flex justify-content-start flex-wrap" [class.active]="showMovieDetail">
  <div class="card">

    <a href="#" class="close" (click)="onShowDetail()"></a>


    <div class="flex flex-column card-container green-container">
      <div class="flex card-container blue-container overflow-hidden">
        <div
          class="flex-grow-1 flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">
          <h1 class="text-3xl md:text-5xl">{{ movie.title }}</h1>
        </div>
      </div>
      <div class="flex justify-content-center flex-wrap card-container yellow-container">

        <img [src]="movie.image">

      </div>


      <div class="field grid">
        <label for="firstname3" class="col-fixed" style="width:100px">Clasificación sobre 5:</label>
        <div class="col">
          <h3 class="text--500">{{ movie.rating }}</h3>
        </div>
      </div>
      <div class="field grid">
        <label for="lastname3" class="col-fixed" style="width:100px">Genero:</label>
        <div class="col">
          <h3 class="text--500">{{ movie.genre }}</h3>
        </div>
      </div>

      <div class="field grid">
        <label for="lastname3" class="col-fixed" style="width:100px">Fecha de estreno:</label>
        <div class="col">
          <h3 class="text--500">{{ movie.date.toDate() | date }}</h3>
        </div>
      </div>
      <div class="field grid">
        <label for="lastname3" class="col-fixed" style="width:100px">Sinopsis:</label>
        <div class="col">
          <h3 class="text--500">{{ movie.sysnopsis }}</h3>
        </div>
      </div>
    </div>

  </div>
</div>