<div class="container">
<section id="portfolio" class="portfolio min-h-full w-full pb-8 pt-8">
  <div class="portfolio__title flex flex-column gap-3 text-center">
    <h1 class="text-3xl md:text-5xl">Carteleras</h1>
    <p class="text-gray-400 text-sm md:text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum odit ab mollitia optio quod
      recusandae placeat aliquam veniam officiis cum quam eum architecto quidem, nobis commodi consequatur
      distinctio ullam non.
    </p>

    <!-- dropdonw -->
    <ul id="nav">	
      Filtrar por:
      <select [(ngModel)]="categoriaSeleccionada">
        <option value="">Todas las categorías</option>
        <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
      </select>

   
    </ul>
     
    <!---->

    <!--input type="text" class="form-control" name="filterMovie" placeholder="Escribir categoria" [(ngModel)]="filterMovie"-->

  </div>

  <br>
  <div class="portfolio__gallery">
    <!-- Aqui poner filtro -->
    <div class="proyect__gallery flex justify-content-center align-items-center flex-wrap gap-4">
        <app-movie *ngFor="let movie of movieArray | filter:filterMovie"  [movieCH]="movie"></app-movie>
      
    </div>
  </div>
</section>
</div>