.products--grid {
    display: flex;
    flex-direction: column;
  }
.container {
    padding: 0rem 12rem;
}
.home__page {
  height: 100vh;
  width: 100%;
  position: relative;
}
  
  // tablets
  @media screen and (min-width: 40em) and (max-width: 63.9em){
    .products--grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
  }
  
  // web
  @media screen and (min-width: 64em){
    .products--grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 15px;
    }
  }
  