.products--grid {
    display: flex;
    flex-direction: column;
  }
.container {
    padding: 0rem 12rem;
}
.home__page {
  height: 100vh;
  width: 100%;
  position: relative;
}
  
  // tablets
  @media screen and (min-width: 40em) and (max-width: 63.9em){
    .products--grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
  }
  
  // web
  @media screen and (min-width: 64em){
    .products--grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 15px;
    }
  }
  /*dropdonw*/

$bg: --bg-color;
$fc: #fff;
ul, li{ margin: 0; padding: 0;}
a { transition: all 0.2s ease-in-out; }
#nav{
  text-align: center;
  background-color: $bg;
  a{ color: $fc; text-decoration: none; }
  select { color: $fc; text-decoration: none;
    background-color: var(--bg-color);
    transition: all 0.2s ease-in-out; 
  }
  input {
    color: $fc; text-decoration: none;
     background-color: var(--bg-color);
     placeholder { color: rgb(255, 255, 255); }
  }
  option {
    display: inline;
    position: relative;
    
      left:-9999px;  
  }
  li{
    display: inline;
    position: relative;
    ul{
      position: absolute;
      left:-9999px;      
    }
    select{
      display: inline-block;
      padding: 20px;
    }
    }
  }
