*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 4rem ;
}
:root {
    --bg-color: #000;
    --font-color: #fff;
    --secondary-bg-color: #BB1818;
    --font: "Poppins"
    
}
body{
    background-color: var(--bg-color);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--font-color);
    height: 100vh;
    max-width: 100vw;
}
